<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/code-css/admire.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document/section-tableau de bord</title>
</head>
<body >
       
        <div class="bloc-dashbord-second">
            <h2>Administrator area</h2>
            <div class="my-title">
                <h3>ID</h3>
                <h3>Nom</h3>
                <h3>Prenom</h3>
                <h3>Email</h3>
            </div>
            <div class="my-reservation">
                <div class="reservation">
                    <div class="data">
                      <p><i class="fa-solid fa-biohazard"></i> <span>my id</span></p>
                      <p>my name</p>
                      <p>my surnam</p>
                      <p>my email</p>
                      
                    </div>
                    <div class="action-user">
                      <p><a href="#">Delete</a></p>
                      <p><a href="#">Edite</a></p>
                    </div>
                </div>
                <div class="reservation">
                    <div class="data">
                      <p><i class="fa-solid fa-biohazard"></i> <span>my id</span></p>
                      <p>my name</p>
                      <p>my surnam</p>
                      <p>my email</p>
                      
                    </div>
                    <div class="action-user">
                      <p><a href="#">Delete</a></p>
                      <p><a href="#">Edite</a></p>
                    </div>
                </div>
            </div>
           
            
        </div>
</body>
</html>