<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/code-css/section.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document/section-tableau de bord</title>
</head>
<body >
    <div class="section-dashbord">
        <div class="bloc-dashbord-first">
            <h3>Espace</h3>
            <div class="dashbord-espace">
                
                <div class="photo">
                    <img src="" alt="">
                </div>
                <div class="espace-second">
                    <p>Nom : <span>yobo</span></p>
                    <p>Prenom : <span>louis</span></p>
                    <p>E-mail : <span>yoyo@gmail.com</span></p>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                    <i class="fa-solid fa-bolt"></i>
                </div>
            </div>

        </div>
        <div class="bloc-dashbord-second">
            <h2>Mes reservations</h2>
            <div class="my-reservation">
              <div class="data">
                <p><i class="fa-solid fa-biohazard"></i>  <span>vhsvfhvgvghv</span></p>
                <p><a href="#" download >télechager le billet<i class="fa-solid fa-cloud-arrow-up"></i></a></p>
                <p><a href="#">Details</a></p>
              </div>
            </div>
        </div>
    </div>
</body>
</html>