<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/v4-font-face.min.css" integrity="sha512-ueEJBIkl0DBM2fA8eS/o12U3l+ZUFn32IUY4jIaTZnNtKR4ktQw3cE/tx/tFIYJuBm4EVT7WUMqIXP1TUN0boA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/code-css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yobsontourisme.net</title>
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="/static/logo/icons8-adventure-85.png" alt="">
            <h3>Ivoire-Tourisme</h3>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Reservation">Reservation</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/Sign">Sign</a></li>
                <li><a href="/Login">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="section-pub-home">
        <div class="home-baground-picture">
            <video src="/static/movie/Côte d'Ivoire, venez voir.mp4" autoplay loop ></video>
        </div>
        <div class="home-text-pub">
            <h2>Bienvenue sur Ivoire-Tourisme</h2>
            <p>Bâtir une industrie du tourisme résiliente et durable pour tous</p>
        </div>
    </div>
    <div class="About">
       
            <h2 class="About-title">About</h2>
        
        <div class="contents-about">
           <div class="contents-about-block">
            <div class="content">
                <div class="picture">
                  <img src="/static/Images/matheenulla-khan-k9bSW8pNReA-unsplash.jpg" alt="" >
                </div>
                <p>Notre entreprise a été créée en 2010 dans le but de faciliter la réservation 
                    de billets pour les voyageurs. Depuis lors, nous avons travaillé sans relâche
                     pour offrir une expérience de réservation en ligne simple, rapide et abordable.</p>
            </div>
            <div class="content">
                <p>Notre équipe de professionnels du voyage est passionnée par l'exploration du monde et par
                    l'aide à nos clients à planifier leurs voyages de rêve. Nous proposons une vaste gamme 
                    de destinations, d'hôtels, de vols et d'activités pour répondre à tous les budgets et
                     tous les goûts.</p>
                <div class="picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="" >
                </div>

            </div>
           </div>
           <div class="contents-about-block1">
                <div class="content">
                    <div class="picture">
                        <img src="/static/Images/eibner-saliba-nRJl2xP5IJc-unsplash.jpg" alt="" >
                    </div>
                    <p>Nous croyons que voyager devrait être facile et accessible pour tous, et c'est pourquoi nous 
                        offrons des prix compétitifs et des réductions exclusives en ligne. Nous sommes également 
                        fiers de notre service client exceptionnel, qui est disponible 24h/24 et 7j/7 pour répondre 
                        à toutes vos questions et préoccupations.</p>
                </div>
                <div class="content">
                        <p>Si vous êtes à la recherche d'une expérience de voyage exceptionnelle, nous sommes là pour vous aider.
                        Réservez votre voyage avec nous dès maintenant et partez à l'aventure ! "</p>
                    <div class="picture">
                        <img src="/static/Images/sankalp-sharma-WxnPdNcQIA4-unsplash.jpg" alt="" >
                    </div>
                </div>

            </div>
        </div>
    </div>

    
    <div class="About">
        <div class="my-teams">
            <h2>Notre Equipes</h2>
            <p>Notre équipe touristique est composée de professionnels passionnés et expérimentés dans le domaine du voyage.
                 Nous sommes une équipe diversifiée, avec des membres provenant de différents horizons et ayant des compétences uniques.</p>
            <div class="card-teams">
                   <div class="card-team1">
                     <div class="team-picture">
                        <img src="/static/Images/Hadi-Sidibe-1-337x400.jpg" alt="">
                     </div>
                     <h2>directeur, M. John Doe</h2>
                     <p>expert du tourisme avec plus de 20 ans d'expérience dans l'industrie. Il est passionné par la découverte de nouvelles
                         destinations et par l'aide aux voyageurs à planifier leurs voyages de rêve</p>
                   </div>
                   <div class="card-team1">
                    <div class="team-picture">
                       <img src="/static/Images/dhb_pink_female_white_web_994_general.jpg" alt="">
                    </div>
                    <h2>Mme Jane Doe</h2>
                    <p>une organisatrice experte qui s'assure que tout se passe sans accroc lors de chaque voyage.
                         Elle est également une experte en matière de logistique et de gestion des équipes.</p>
                  </div>
                  <div class="card-team1">
                    <div class="team-picture">
                       <img src="/static/Images/istockphoto-1389465862-1024x1024.jpg" alt="">
                    </div>
                    <h2>M. Joe Smith</h2>
                    <p>Responsable de la réservation, est un professionnel du service clientèle. Il est là pour répondre
                         à toutes vos questions et préoccupations, et pour vous aider à réserver le voyage parfait pour vous.</p>
                  </div>
                  
            </div>
        </div>
    </div>


   <div class="contact-section">
   
      <div class="form-texte">
        <img src="/static/Images/melinda-gimpel-5Ne6mMQtIdo-unsplash.jpg" alt="">
      </div>
      <form name="myForm" action="#" onsubmit="return validateForm()" method="post">
        <h1>Formulaire de contact</h1>
         <table class="form-style">
            <tr>
               <td>
                  <label>
                     Votre nom <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <input type="text" name="name" class="long"/>
                  <span class="error" id="errorname"></span>
               </td>
            </tr>
            <tr>
               <td>
                  <label>
                     Votre adresse e-mail <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <input type="email" name="email" class="long"/>
                  <span class="error" id="erroremail"></span>
               </td>
            </tr>
            <tr>
               <td>
                  <label>
                     Message <span class="required">*</span>
                  </label>
               </td>
               <td>
                  <textarea name="message" class="long field-textarea"></textarea>
                  <span class="error" id="errormsg"></span>
               </td>
            </tr>
            <tr>
               <td></td>
               <td>
                  <input type="submit" value="Envoyer">      
                  <input type="reset" value="Réinitialiser"> 
               </td>
            </tr>
         </table>
      </form>
   </div>

    <footer class="footer-distributed">

        <div class="footer-right">
  
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
  
        </div>
  
        <div class="footer-left">
  
          <p class="footer-links">
            <a class="link-1" href="#">Home</a>
  
            <a href="#">About</a>
  
            <a href="#">Contact</a>
  
            <a href="#">Reservation</a>
  
          </p>
  
          <p>Ivoire-Tourisme &copy; 2010</p>
        </div>
  
      </footer>

      <script src="code.js"></script>
      <script src="slade.js"></script>
</body>
</html>