<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/code-css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document/formulaire</title>
</head>
<body>
    <div class="card-form">
        <form action="#" id="login">
            <h3>Login</h3>
          <div class="registre-name">
            <label >Email</label><br>
            <input type="email" name="mail" id="mail">
          </div>
          <div class="registre-name">
            <label >Mot de passe</label>
            <input type="text" name="password" id="password">
          </div>
          <div class="send-check">
            <p>je n'ai pas de compte ?<a href="#">registre</a> </p>
            <div class="btn">
                <input type="submit" value="Somettre" id="btn-button">
            </div>
          </div>
        </form>
    </div>
</body>
</html>