<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/code-css/res.css">
    <title>Document/reservation</title>
</head>
<body>

    <div class="barre-search">
        <div class="barre-search-inner">
            <input type="search" placeholder="Recherche....." name="search" id="search">
            <button id="btn-search">rechercher</button>
        </div>
        <div class="contenairs">
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
            <div class="contenairs-block">
                <div class="block-picture">
                    <img src="/static/Images/fikri-rasyid-G5mV0vFYgCs-unsplash.jpg" alt="">
                </div>
                <div class="block-texte">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i> <span>yakro</span>, <span>lac croco</span></p>
                    <button id="details">Details</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>