<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/code-css/sign.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document/formulaire</title>
</head>
<body>
    <div id="card-form">
        <form action="#" id="registre">
          <div class="registre-name">
            <p >Nom</p>
            <input type="text" name="nom" id="nom">
          </div>
          <div class="registre-name">
            <p >Prenom</p>
            <input type="text" name="prenom" id="prenom">
          </div>
          <div class="registre-name">
            <p >Email</p>
            <input type="email" name="mail" id="mail">
          </div>
          <div class="registre-name">
            <p >Mot de passe</p>
            <input type="text" name="password" id="password">
          </div>
          <div class="send-check">
            <p>j'ai deja un compte ? <a href="#">login</a> </p>
            <div class="btn">
                <input type="submit" value="Somettre" id="btn-button">
            </div>
          </div>
        </form>
        
    </div>
</body>
</html>